.aw-recent__pageTitle {
  font-size: var(--font-body-xll-size);
  line-height: 19px;
  font-weight: var(--font-weight-400);
  color: var(--color-black02);
  margin: 0 0 55.51px;
}

.aw-recent__productLink:hover {
  text-decoration: none;
}

.aw-recent__productPrice {
  margin-top: 0.7rem;
}

.recent__container .card-information {
  display: none;
}

.recent__container .swiper-button-next:after,
.recent__container .swiper-button-prev:after {
  display: none;
}

.recent__container .swiper-button-next .arrow-svg,
.recent__container .swiper-button-prev .arrow-svg {
  height: 14.67px;
  width: 14.67px;
}

.aw-recent__productList .grid__item .aw-recent__productImage {
  object-fit: contain;
  position: unset;
  aspect-ratio: 4/5;
}

.aw-recent__productList .grid__item .ratio:before {
  padding-bottom: 0;
}

.aw-recent__productList .grid__item .media,
.aw-recent__productList .grid__item .card__media {
  position: unset;
}

@media (min-width: 750px) {
  .recent__container .page-width {
    max-width: 1920px;
    padding-inline: 110px;
  }

  .recent__container {
    padding-bottom: 119px;
  }
}

@media (max-width: 749px) {
  .recent__container .swiper-button-prev {
    left: 0;
  }

  .recent__container .swiper-button-next {
    right: 0;
  }

  .recent__container .swiper-button-next .arrow-svg,
  .recent__container .swiper-button-prev .arrow-svg {
    height: 13px;
    width: 13px;
  }

  .aw-recent__pageTitle {
    font-size: var(--font-body-hero-text-small-size);
    line-height: 10px;
    margin-bottom: 15.23px;
  }
}
