.images-slider__container {
  margin: 0 auto;
}

.images-slider__slide-image {
  max-height: 675px;
  width: 100%;
  object-fit: cover;
}

.images-slider .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
}

.images-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 100%;
  border-radius: unset;
  margin: 0;
  display: block;
}